In [1]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline

In [3]:
col = pd.read_csv('CovidColombia.csv', usecols= ['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación'],date_parser= ['Fecha de notificación','Fecha de muerte', 'Fecha diagnostico',
       'Fecha recuperado'], low_memory = False)

In [4]:
pobl = pd.read_csv('Dane2018_2023.csv', usecols= ['Dpto', 'Municipio', 'Género', '2020'])
pobl = pobl.loc[pobl['Género']=='AMBOS SEXOS',:]
pobl

           Dpto       Municipio       Género      2020
0     Antioquia        Medellín  AMBOS SEXOS   2533424
3     Antioquia       Abejorral  AMBOS SEXOS     20287
6     Antioquia        Abriaquí  AMBOS SEXOS      2735
9     Antioquia      Alejandría  AMBOS SEXOS      4698
12    Antioquia           Amagá  AMBOS SEXOS     31283
...         ...             ...          ...       ...
3354    Vichada  Puerto Carreño  AMBOS SEXOS     20294
3357    Vichada    La Primavera  AMBOS SEXOS      9608
3360    Vichada   Santa Rosalía  AMBOS SEXOS      4193
3363    Vichada        Cumaribo  AMBOS SEXOS     78863
3366   País_Col        País_Col  AMBOS SEXOS  50372424

[1123 rows x 4 columns]

In [5]:
fecha = col['Fecha de notificación'].max()

In [6]:
FECHA = fecha.rstrip('T00:00:00.000')
FECHA

'2020-10-27'

In [7]:
col[['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación']]=  col[['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación']].astype('category')

In [8]:
col

,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,Fecha de muerte,Fecha diagnostico,Fecha recuperado,Tipo recuperación
0,2020-03-02T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,ITALIA,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,PCR
1,2020-03-06T00:00:00.000,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,ESPAÑA,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,PCR
2,2020-03-07T00:00:00.000,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,ESPAÑA,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,PCR
3,2020-03-09T00:00:00.000,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,NaN,NaN,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,PCR
4,2020-03-09T00:00:00.000,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,NaN,NaN,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,PCR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041930,2020-10-16T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Casa,22,F,En estudio,Leve,NaN,NaN,2020-10-27T00:00:00.000,NaN,NaN
1041931,2020-10-15T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Hospital,83,F,En estudio,Moderado,NaN,NaN,2020-10-26T00:00:00.000,NaN,NaN
1041932,2020-10-16T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Casa,30,F,En estudio,Leve,NaN,NaN,2020-10-27T00:00:00.000,NaN,NaN
1041933,2020-10-16T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Casa,29,F,En estudio,Leve,NaN,NaN,2020-10-27T00:00:00.000,NaN,NaN
1041934,2020-10-16T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Hospital,55,F,En estudio,Moderado,NaN,NaN,2020-10-27T00:00:00.000,NaN,NaN

In [9]:
filtro= col['Fecha de muerte'].notnull()
colfallecidos = col.loc[filtro,:]
colfallecidos

,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,Fecha de muerte,Fecha diagnostico,Fecha recuperado,Tipo recuperación
151,2020-03-18T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Fallecido,65,M,Importado,Fallecido,ESTADOS UNIDOS,2020-04-05T00:00:00.000,2020-03-20T00:00:00.000,NaN,NaN
152,2020-03-18T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Fallecido,53,F,Relacionado,Fallecido,NaN,2020-04-06T00:00:00.000,2020-03-20T00:00:00.000,NaN,NaN
156,2020-03-20T00:00:00.000,Santa Marta,Santa Marta D.T. y C.,Fallecido,88,M,Relacionado,Fallecido,NaN,2020-03-23T00:00:00.000,2020-03-20T00:00:00.000,NaN,NaN
187,2020-03-17T00:00:00.000,Yumbo,Valle del Cauca,Fallecido,70,F,Relacionado,Fallecido,NaN,2020-03-22T00:00:00.000,2020-03-21T00:00:00.000,NaN,NaN
196,2020-03-13T00:00:00.000,Cartagena de Indias,Cartagena D.T. y C.,Fallecido,58,M,Relacionado,Fallecido,NaN,2020-03-16T00:00:00.000,2020-03-16T00:00:00.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030954,2020-10-23T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Fallecido,65,M,En estudio,Fallecido,NaN,2020-10-23T00:00:00.000,2020-10-26T00:00:00.000,NaN,NaN
1031787,2020-10-12T00:00:00.000,Armenia,Quindío,Fallecido,78,M,En estudio,Fallecido,NaN,2020-10-27T00:00:00.000,2020-10-23T00:00:00.000,NaN,NaN
1032412,2020-10-13T00:00:00.000,Manizales,Caldas,Fallecido,81,M,En estudio,Fallecido,NaN,2020-10-27T00:00:00.000,2020-10-24T00:00:00.000,NaN,NaN
1032734,2020-10-14T00:00:00.000,Soacha,Cundinamarca,Fallecido,80,M,En estudio,Fallecido,NaN,2020-10-27T00:00:00.000,2020-10-25T00:00:00.000,NaN,NaN
1032737,2020-10-11T00:00:00.000,Soacha,Cundinamarca,Fallecido,73,M,En estudio,Fallecido,NaN,2020-10-27T00:00:00.000,2020-10-22T00:00:00.000,NaN,NaN

In [10]:
localidad = input('Ingrese el departamento:  ')
localidad1 = input('Ingrese el municipio: ' )

Ingrese el departamento:  Caldas
Ingrese el municipio: Manizales

In [11]:
pobl_dpto=pobl.loc[pobl['Dpto']==localidad,'2020'].sum()
pobl_dpto

1018453

In [12]:
pobl_munic=pobl.loc[pobl['Municipio']==localidad1, '2020'].sum()
pobl_munic

446160

In [13]:
etartotal = pd.read_csv('poblacionEdad1985_2035.csv', low_memory=False)
etartotal.drop(columns=['Unnamed: 108',
       'Unnamed: 109'], inplace=True)

etartotal = etartotal.loc[(etartotal['ÁREA GEOGRÁFICA']=='Total')&(etartotal['AÑO']=='2020'),:].drop(columns=['ÁREA GEOGRÁFICA'])

etartotal.reset_index(drop=True, inplace=True)

In [14]:
x = etartotal['DEPARTAMENTO'].size
x

1121

In [15]:
etartotal.columns

Index(['DEPARTAMENTO', 'MUNICIPIO', 'AÑO', 'Total_0', 'Total_1', 'Total_2',
       'Total_3', 'Total_4', 'Total_5', 'Total_6',
       ...
       'Total_94', 'Total_95', 'Total_96', 'Total_97', 'Total_98', 'Total_99',
       'Total_100 y más', 'Total Hombres', 'Total Mujeres', 'Total'],
      dtype='object', length=107)

In [16]:
etartotal

,DEPARTAMENTO,MUNICIPIO,AÑO,Total_0,Total_1,Total_2,Total_3,Total_4,Total_5,Total_6,...,Total_94,Total_95,Total_96,Total_97,Total_98,Total_99,Total_100 y más,Total Hombres,Total Mujeres,Total
0,Antioquia,Medellín,2020,29257,29752,29748,29857,29919,29962,30025,...,1045,885,724,586,453,389,1631,1193791,1339633,2533424
1,Antioquia,Abejorral,2020,257,254,255,260,265,272,280,...,8,8,5,5,6,6,15,10558,9729,20287
2,Antioquia,Abriaquí,2020,44,41,43,44,41,43,43,...,-,-,-,2,1,1,-,1482,1253,2735
3,Antioquia,Alejandría,2020,84,86,85,82,83,81,79,...,1,1,1,2,1,1,-,2338,2360,4698
4,Antioquia,Amagá,2020,405,403,405,406,405,410,412,...,11,10,4,5,6,6,9,15382,15901,31283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,Vaupés,Yavaraté (CD),2020,20,18,19,18,19,35,42,...,1,-,1,-,-,1,-,569,528,1097
1117,Vichada,Puerto Carreño,2020,421,425,423,421,416,411,405,...,2,3,2,-,2,1,4,10520,9774,20294
1118,Vichada,La Primavera,2020,191,189,190,190,188,190,194,...,1,2,1,-,2,3,1,5055,4553,9608
1119,Vichada,Santa Rosalía,2020,75,78,76,75,77,84,92,...,2,-,-,-,-,-,-,2173,2020,4193
1120,Vichada,Cumaribo,2020,2143,2089,2078,2107,2121,2136,2142,...,4,6,1,3,3,3,18,41840,37023,78863

In [17]:
for i in range(0, 100):
    for j in range(0, x):
        if etartotal.loc[j,'Total_'+str(i)] == ' - ':
            etartotal.loc[j,'Total_'+str(i)] = np.nan
        else:
            pass

In [18]:
for j in range(0, x):
    if etartotal.loc[j,'Total_100 y más'] == ' - ':
            etartotal.loc[j,'Total_100 y más'] = np.nan
    else:
        pass

In [19]:
for j in range(0, x):
    if etartotal.loc[j,'Total Hombres'] == ' - ':
            etartotal.loc[j,'Total Hombres'] = np.nan
    else:
        pass

In [20]:
for j in range(0, x):
    if etartotal.loc[j,'Total Mujeres'] == ' - ':
            etartotal.loc[j,'Total Mujeres'] = np.nan
    else:
        pass

In [21]:
for j in range(0, x):
    if etartotal.loc[j,'Total'] == ' - ':
            etartotal.loc[j,'Total'] = np.nan
    else:
        pass

In [22]:
etartotal

,DEPARTAMENTO,MUNICIPIO,AÑO,Total_0,Total_1,Total_2,Total_3,Total_4,Total_5,Total_6,...,Total_94,Total_95,Total_96,Total_97,Total_98,Total_99,Total_100 y más,Total Hombres,Total Mujeres,Total
0,Antioquia,Medellín,2020,29257,29752,29748,29857,29919,29962,30025,...,1045,885,724,586,453,389,1631,1193791,1339633,2533424
1,Antioquia,Abejorral,2020,257,254,255,260,265,272,280,...,8,8,5,5,6,6,15,10558,9729,20287
2,Antioquia,Abriaquí,2020,44,41,43,44,41,43,43,...,NaN,NaN,NaN,2,1,1,NaN,1482,1253,2735
3,Antioquia,Alejandría,2020,84,86,85,82,83,81,79,...,1,1,1,2,1,1,NaN,2338,2360,4698
4,Antioquia,Amagá,2020,405,403,405,406,405,410,412,...,11,10,4,5,6,6,9,15382,15901,31283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,Vaupés,Yavaraté (CD),2020,20,18,19,18,19,35,42,...,1,NaN,1,NaN,NaN,1,NaN,569,528,1097
1117,Vichada,Puerto Carreño,2020,421,425,423,421,416,411,405,...,2,3,2,NaN,2,1,4,10520,9774,20294
1118,Vichada,La Primavera,2020,191,189,190,190,188,190,194,...,1,2,1,NaN,2,3,1,5055,4553,9608
1119,Vichada,Santa Rosalía,2020,75,78,76,75,77,84,92,...,2,NaN,NaN,NaN,NaN,NaN,NaN,2173,2020,4193
1120,Vichada,Cumaribo,2020,2143,2089,2078,2107,2121,2136,2142,...,4,6,1,3,3,3,18,41840,37023,78863

In [23]:
etarios= etartotal.loc[:,'Total_0':'Total'].astype(float)

In [24]:
etartotal.dtypes

DEPARTAMENTO       object
MUNICIPIO          object
AÑO                object
Total_0            object
Total_1            object
                    ...
Total_99           object
Total_100 y más    object
Total Hombres      object
Total Mujeres      object
Total              object
Length: 107, dtype: object

In [25]:
#etartotal['0 a 5']=etartotal['Total_0']+etartotal['Total_1']+etartotal['Total_2']+etartotal['Total_3']+etartotal['Total_4']+etartotal['Total_5']

In [26]:
numero= 0
for i in range(0,6):
    valor= etarios['Total_'+str(i)]
    numero= numero+valor
    etarios.drop(columns='Total_'+str(i), inplace=True)
etarios['edad 0 a 4'] = numero

In [27]:
numero= 0
for i in range(6,15):
    valor= etarios['Total_'+str(i)]
    numero= numero+valor
    etarios.drop(columns='Total_'+str(i), inplace=True)
etarios['edad 5 a 14'] = numero

In [28]:
numero= 0
for i in range(15,45):
    valor= etarios['Total_'+str(i)]
    numero= numero+valor
    etarios.drop(columns='Total_'+str(i), inplace=True)
etarios['edad 15 a 44'] = numero

In [29]:
numero= 0
for i in range(45,65):
    valor= etarios['Total_'+str(i)]
    numero= numero+valor
    etarios.drop(columns='Total_'+str(i), inplace=True)
etarios['edad 45 a 64'] = numero

In [30]:
numero= 0
for i in range(65,85):
    valor= etarios['Total_'+str(i)]
    numero= numero+valor
    etarios.drop(columns='Total_'+str(i), inplace=True)
etarios['edad 65 a 84'] = numero

In [31]:
numero= 0
for i in range(85,100):
    valor= etarios['Total_'+str(i)]
    numero= numero+valor
    etarios.drop(columns='Total_'+str(i), inplace=True)
etarios['edad 85 a 99'] = numero

In [32]:
etarios

,Total_100 y más,Total Hombres,Total Mujeres,Total,edad 0 a 4,edad 5 a 14,edad 15 a 44,edad 45 a 64,edad 65 a 84,edad 85 a 99
0,1631.0,1193791.0,1339633.0,2533424.0,178495.0,281613.0,1224276.0,581270.0,240903.0,25236.0
1,15.0,10558.0,9729.0,20287.0,1563.0,2774.0,8299.0,4993.0,2417.0,226.0
2,NaN,1482.0,1253.0,2735.0,256.0,384.0,1156.0,608.0,302.0,NaN
3,NaN,2338.0,2360.0,4698.0,501.0,656.0,1889.0,1062.0,525.0,65.0
4,9.0,15382.0,15901.0,31283.0,2434.0,3870.0,14150.0,7653.0,2868.0,299.0
...,...,...,...,...,...,...,...,...,...,...
1116,NaN,569.0,528.0,1097.0,129.0,426.0,412.0,82.0,37.0,NaN
1117,4.0,10520.0,9774.0,20294.0,2517.0,3445.0,10392.0,3089.0,797.0,NaN
1118,1.0,5055.0,4553.0,9608.0,1138.0,1907.0,4546.0,1534.0,436.0,NaN
1119,NaN,2173.0,2020.0,4193.0,465.0,886.0,1977.0,671.0,180.0,NaN
1120,18.0,41840.0,37023.0,78863.0,12674.0,18956.0,35333.0,9348.0,2364.0,170.0

In [33]:
gruposEtarios= pd.merge(etartotal, etarios, left_index=True, right_index=True)

In [34]:
gruposEtarios

,DEPARTAMENTO,MUNICIPIO,AÑO,Total_0,Total_1,Total_2,Total_3,Total_4,Total_5,Total_6,...,Total_100 y más_y,Total Hombres_y,Total Mujeres_y,Total_y,edad 0 a 4,edad 5 a 14,edad 15 a 44,edad 45 a 64,edad 65 a 84,edad 85 a 99
0,Antioquia,Medellín,2020,29257,29752,29748,29857,29919,29962,30025,...,1631.0,1193791.0,1339633.0,2533424.0,178495.0,281613.0,1224276.0,581270.0,240903.0,25236.0
1,Antioquia,Abejorral,2020,257,254,255,260,265,272,280,...,15.0,10558.0,9729.0,20287.0,1563.0,2774.0,8299.0,4993.0,2417.0,226.0
2,Antioquia,Abriaquí,2020,44,41,43,44,41,43,43,...,NaN,1482.0,1253.0,2735.0,256.0,384.0,1156.0,608.0,302.0,NaN
3,Antioquia,Alejandría,2020,84,86,85,82,83,81,79,...,NaN,2338.0,2360.0,4698.0,501.0,656.0,1889.0,1062.0,525.0,65.0
4,Antioquia,Amagá,2020,405,403,405,406,405,410,412,...,9.0,15382.0,15901.0,31283.0,2434.0,3870.0,14150.0,7653.0,2868.0,299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,Vaupés,Yavaraté (CD),2020,20,18,19,18,19,35,42,...,NaN,569.0,528.0,1097.0,129.0,426.0,412.0,82.0,37.0,NaN
1117,Vichada,Puerto Carreño,2020,421,425,423,421,416,411,405,...,4.0,10520.0,9774.0,20294.0,2517.0,3445.0,10392.0,3089.0,797.0,NaN
1118,Vichada,La Primavera,2020,191,189,190,190,188,190,194,...,1.0,5055.0,4553.0,9608.0,1138.0,1907.0,4546.0,1534.0,436.0,NaN
1119,Vichada,Santa Rosalía,2020,75,78,76,75,77,84,92,...,NaN,2173.0,2020.0,4193.0,465.0,886.0,1977.0,671.0,180.0,NaN
1120,Vichada,Cumaribo,2020,2143,2089,2078,2107,2121,2136,2142,...,18.0,41840.0,37023.0,78863.0,12674.0,18956.0,35333.0,9348.0,2364.0,170.0

In [35]:
gruposEtarios.drop(gruposEtarios.columns[3:107], axis=1, inplace=True)

In [36]:
gruposEtarios= gruposEtarios[['DEPARTAMENTO', 'MUNICIPIO', 'AÑO', 
       'Total Hombres_y', 'Total Mujeres_y', 'Total_y', 'edad 0 a 4', 'edad 5 a 14', 'edad 15 a 44', 'edad 45 a 64',
       'edad 65 a 84', 'edad 85 a 99','Total_100 y más_y']]

In [37]:
gruposEtarios.rename(columns={'Total_100 y más_y':'edad 100 o más'}, inplace=True)

In [38]:
gruposEtarios

,DEPARTAMENTO,MUNICIPIO,AÑO,Total Hombres_y,Total Mujeres_y,Total_y,edad 0 a 4,edad 5 a 14,edad 15 a 44,edad 45 a 64,edad 65 a 84,edad 85 a 99,edad 100 o más
0,Antioquia,Medellín,2020,1193791.0,1339633.0,2533424.0,178495.0,281613.0,1224276.0,581270.0,240903.0,25236.0,1631.0
1,Antioquia,Abejorral,2020,10558.0,9729.0,20287.0,1563.0,2774.0,8299.0,4993.0,2417.0,226.0,15.0
2,Antioquia,Abriaquí,2020,1482.0,1253.0,2735.0,256.0,384.0,1156.0,608.0,302.0,NaN,NaN
3,Antioquia,Alejandría,2020,2338.0,2360.0,4698.0,501.0,656.0,1889.0,1062.0,525.0,65.0,NaN
4,Antioquia,Amagá,2020,15382.0,15901.0,31283.0,2434.0,3870.0,14150.0,7653.0,2868.0,299.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,Vaupés,Yavaraté (CD),2020,569.0,528.0,1097.0,129.0,426.0,412.0,82.0,37.0,NaN,NaN
1117,Vichada,Puerto Carreño,2020,10520.0,9774.0,20294.0,2517.0,3445.0,10392.0,3089.0,797.0,NaN,4.0
1118,Vichada,La Primavera,2020,5055.0,4553.0,9608.0,1138.0,1907.0,4546.0,1534.0,436.0,NaN,1.0
1119,Vichada,Santa Rosalía,2020,2173.0,2020.0,4193.0,465.0,886.0,1977.0,671.0,180.0,NaN,NaN
1120,Vichada,Cumaribo,2020,41840.0,37023.0,78863.0,12674.0,18956.0,35333.0,9348.0,2364.0,170.0,18.0

In [39]:
gruposEtarios.columns

Index(['DEPARTAMENTO', 'MUNICIPIO', 'AÑO', 'Total Hombres_y',
       'Total Mujeres_y', 'Total_y', 'edad 0 a 4', 'edad 5 a 14',
       'edad 15 a 44', 'edad 45 a 64', 'edad 65 a 84', 'edad 85 a 99',
       'edad 100 o más'],
      dtype='object')

In [40]:
gruposEtarios = gruposEtarios.loc[(gruposEtarios['DEPARTAMENTO']== localidad)|(gruposEtarios['MUNICIPIO']== localidad1), 'edad 0 a 4':'edad 100 o más'].sum()

In [41]:
filtro = (colfallecidos['Departamento o Distrito ']== localidad) | (colfallecidos['Ciudad de ubicación']==localidad1) & (col['Fecha de muerte'].notnull())
fallecidosAge= colfallecidos.loc[filtro,['Edad', 'Fecha de muerte']]
fallecidos = fallecidosAge.groupby('Edad')['Fecha de muerte'].count().to_frame()

In [42]:
fallecidos

      Fecha de muerte
Edad
0                   1
1                   0
2                   0
3                   0
4                   0
...               ...
111                 0
112                 0
113                 0
115                 0
123                 0

[116 rows x 1 columns]

filtro = col['Fecha de muerte'].notnull()
fallecidosEdad = col.loc[filtro, ['Edad', 'Fecha de muerte']]
fallecidos = fallecidosEdad.groupby('Edad')['Edad'].count().to_frame()

fallecidos.rename(columns={'Edad':'Número fallecidos'},inplace=True)

In [43]:
fallecidos.rename(columns={'Fecha de muerte':'Número fallecidos'},inplace=True)

fallecidos

In [44]:
cerocuatro = fallecidos.iloc[0:5].sum()
cincocatorce= fallecidos.iloc[5:15].sum()
quincecuarentaycuatro = fallecidos.iloc[15:45].sum()
cuarentaycincosesentaycuatro = fallecidos.iloc[45:65].sum()
sesentaycincoochentaycuatro = fallecidos.iloc[65:85].sum()
ochentaycinconoventaynueve = fallecidos.iloc[85:100].sum()
cienomas = fallecidos.iloc[100:150].sum()

lista= [cerocuatro,cincocatorce,quincecuarentaycuatro,cuarentaycincosesentaycuatro,sesentaycincoochentaycuatro,ochentaycinconoventaynueve,cienomas]
lista

[Número fallecidos    1
 dtype: int64,
 Número fallecidos    1
 dtype: int64,
 Número fallecidos    16
 dtype: int64,
 Número fallecidos    67
 dtype: int64,
 Número fallecidos    172
 dtype: int64,
 Número fallecidos    51
 dtype: int64,
 Número fallecidos    1
 dtype: int64]

In [45]:
d={'edad 0 a 4':cerocuatro, 'edad 5 a 14':cincocatorce,
       'edad 15 a 44':quincecuarentaycuatro, 'edad 45 a 64':cuarentaycincosesentaycuatro, 'edad 65 a 84':sesentaycincoochentaycuatro, 'edad 85 a 99':ochentaycinconoventaynueve,
       'edad 100 o más':cienomas}
df = pd.DataFrame(data=d)
df['Total']= df.loc['Número fallecidos','edad 0 a 4']+ df.loc['Número fallecidos','edad 5 a 14']+df.loc['Número fallecidos','edad 15 a 44']+df.loc['Número fallecidos','edad 45 a 64']+df.loc['Número fallecidos','edad 65 a 84']+df.loc['Número fallecidos','edad 85 a 99']+df.loc['Número fallecidos','edad 100 o más']
df

,edad 0 a 4,edad 5 a 14,edad 15 a 44,edad 45 a 64,edad 65 a 84,edad 85 a 99,edad 100 o más,Total
Número fallecidos,1,1,16,67,172,51,1,309

In [46]:
gruposEtarios.columns=['Población']

In [47]:
gruposEtarios.transpose()

edad 0 a 4         77831.0
edad 5 a 14       119916.0
edad 15 a 44      435989.0
edad 45 a 64      252678.0
edad 65 a 84      118140.0
edad 85 a 99       13232.0
edad 100 o más       481.0
dtype: float64

In [48]:
gruposEtarios.columns

['Población']

In [49]:
gruposEtarios

edad 0 a 4         77831.0
edad 5 a 14       119916.0
edad 15 a 44      435989.0
edad 45 a 64      252678.0
edad 65 a 84      118140.0
edad 85 a 99       13232.0
edad 100 o más       481.0
dtype: float64

In [50]:
df = df.transpose()
type(df)

pandas.core.frame.DataFrame

In [51]:
gruposEtarios= gruposEtarios.to_frame()

In [52]:
gruposEtarios.columns

RangeIndex(start=0, stop=1, step=1)

In [53]:
df

                Número fallecidos
edad 0 a 4                      1
edad 5 a 14                     1
edad 15 a 44                   16
edad 45 a 64                   67
edad 65 a 84                  172
edad 85 a 99                   51
edad 100 o más                  1
Total                         309

In [54]:
Tasa_mortalidad = pd.merge(df, gruposEtarios, left_index=True, right_index=True)
Tasa_mortalidad

                Número fallecidos         0
edad 0 a 4                      1   77831.0
edad 5 a 14                     1  119916.0
edad 15 a 44                   16  435989.0
edad 45 a 64                   67  252678.0
edad 65 a 84                  172  118140.0
edad 85 a 99                   51   13232.0
edad 100 o más                  1     481.0

In [55]:
Tasa_mortalidad.rename(columns={ 0:'Población'}, inplace=True)

In [56]:
Tasa_mortalidad= Tasa_mortalidad.astype(int)

In [57]:
Tasa_mortalidad['Tasa de mortalidad por 100.000 habitantes']= (Tasa_mortalidad['Número fallecidos']/Tasa_mortalidad['Población'])*100000

In [58]:
Tasa_mortalidad.round(2)

,Número fallecidos,Población,Tasa de mortalidad por 100.000 habitantes
edad 0 a 4,1,77831,1.28
edad 5 a 14,1,119916,0.83
edad 15 a 44,16,435989,3.67
edad 45 a 64,67,252678,26.52
edad 65 a 84,172,118140,145.59
edad 85 a 99,51,13232,385.43
edad 100 o más,1,481,207.90

In [59]:
df.to_csv('etarioDefunciones.csv')

In [60]:
Tasa_mortalidad.to_csv('TasaMortalidadDptoMunic.csv')